<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivangmg.batallanavalenclase">

    <service
        android:name="com.package.name.BackgroundSoundService"
        android:enabled="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Battleship"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".BattleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Battle_menu" />
        <activity android:name=".ScoreClase" />
        <activity android:name=".AcercaDe"></activity>
    </application>

</manifest>